<div class = 'background'>
</div>

<div class = "loginwrapper">
<div class = 'well vertical-alignbig'>
<h3 id = 'authmsg'><%= @message %></h3>
<div id = 'logmsgbtn'>
<a href='/'class = "btnmarg"><button class = "btn btn-success btnmarg">Login</button></a></li>
<a href='/register' class = "btnmarg"><button class = "btn btn-info ">Register</button></a></li>
</div>
</div>
</div>
